<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a href="{% url 'index' %}" class="navbar-brand">Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    
                    {% for service in request.user.services.all %}
                        <a class="dropdown-item" href="{{ service.get_absolute_url }}">{{ service }}</a>
                    {% endfor %}
                        
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'service_add' %}">Add service</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logs' %}">Updates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>
    </div>
</nav>